<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="postUpdate">
  <div class="container">
    <div class="pageTitle">게시글 수정</div>
    <div class="contentContainer">
      <div class="contentLabel">글 번호</div>
      <input class="contentInput" th:name="id"  th:value="${post.id}" disabled />

      <div class="contentLabel">제목</div>
      <input class="contentInput"
             th:value="${post.title}"
             th:name="title"
      />

      <div class="contentLabel">작성자</div>
      <input class="contentInput" th:value="${post.author}" disabled />

      <div class="contentLabel">내용</div>
      <textarea class="contentTextarea"
                th:text="${post.content}"
                th:name="content"
      ></textarea>
    </div>
    <div class="buttonContainer">
      <button class="editButton"
      >
        저장
      </button>

      <a class="prevButton"
              th:href="@{/posts/{id}(id = ${post.id})}"
      >
        취소
      </a>
      <button class="deleteButton">
        삭제
      </button>
    </div>
  </div>
  <script type="text/javascript" th:src="@{/js/posts/postUpdate.js}"></script>
</th:block>

</html>
