.container {
      display: flex;
      flex-direction: column;
      padding: 40px;
}

.pageTitle {
    font-size: 2rem;
}

.contentContainer {
      margin: 20px 0 20px 0;
}

.contentLabel{
  margin-top: 10px;
  font-size: 1rem;
  }

 .contentInput {
   padding: 4px;
   font-size: 1rem;
   width: 500px;
 }

 .contentTextarea {
   padding: 4px;
   font-size: 1rem;
   width: 500px;
   height: 200px;
 }

 .buttonContainer {
      display: flex;
      flex-direction: row;
 }

 .editButton {
    display: flex;
      padding: 10px 20px 10px 20px;
      margin-right: 10px;
      background-color: #4AA8D8;
      color: white;
      border: 2px solid;
      border-color: #4AA8D8;
      border-radius: 8px;
 }

 .prevButton {
    display: flex;
      padding: 10px 20px 10px 20px;
      margin-right: 10px;

      border: 2px solid;
      border-color: ${(props) => props.borderColor};
      border-radius: 8px;
      border-color: gray;
      background-color:gray;
      color:white;
 }

 .deleteButton{
      display: flex;
      padding: 10px 20px 10px 20px;
      margin-right: 10px;
      background-color: #c4302b;

      color: white;
      border: 2px solid #c4302b;
      border-radius: 8px;
 }